
.carousel-container {
    width: 600px;
    height: 600px;
    margin: 0; 
    max-height: 400px;

  }

  
  .carousel-slider img {
    object-fit: cover; 
    width: 600px; 
    height: 400px; 
    object-fit: contain; 
  }

  .weather-icon { 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
  } 